:root {
    --prompt-content: "";
    --background-colour: white;
}

main {
    font-family: consola, monospace;
    display: flex;
    flex-direction: column;
    height: 100vh;
    cursor: text;
}

a {
    text-decoration: underline dotted;
}

a:hover {
    text-decoration: underline from-font;
}

a[target="_blank"]::after {
    content: "";
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.2em;
    background: url("external.svg") no-repeat center;
    background-size: contain;

    /* Filter colour derived from https://angel-rs.github.io/css-color-filter-generator/ */
    filter: brightness(0) saturate(100%)
}

#output {
    background-color: var(--background-colour);
    white-space: pre-wrap;
}

#command-line-container {
    flex: 1;
    height: 100%;
    width: 100%;
    position: relative;
}

#prompt {
    background: var(--background-colour);
    white-space: pre-wrap;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#input {
    background-color: var(--background-colour);
    white-space: pre-wrap;
    z-index: 0;
}

#input::before {
    content: var(--prompt-content);
}