:root {
    --prompt-content: "";
    --background-colour: white;
}

main {
    font-family: consola, monospace;
    display: flex;
    flex-direction: column;
    height: 100vh;
    cursor: text;
    white-space: pre-wrap;
}

#output {
    background-color: var(--background-colour);
}

#command-line-container {
    flex: 1;
    height: 100%;
    width: 100%;
    position: relative;
}

#prompt {
    background: var(--background-colour);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#input {
    background-color: var(--background-colour);
    position: absolute;
    inset: 0;
    z-index: 0;
}

#input::before {
    content: var(--prompt-content);
}